* {
	box-sizing: border-box;
	-webkit-touch-callout: none;
	/* iOS Safari */
	-webkit-user-select: none;
	/* Safari */
	-khtml-user-select: none;
	/* Konqueror HTML */
	-moz-user-select: none;
	/* Old versions of Firefox */
	-ms-user-select: none;
	/* Internet Explorer/Edge */
	user-select: none;
	/* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

body {
	background-color: #fff;
	text-align: center;
	font-family: 'Source Sans Pro', Helvetica;
	line-height: 1.618em;
	width: 96vw;
	height: 96vh;
}

#startBrowseButton {
	padding: 25px;
	margin: 100px;
	background-color: black;
	color: white;
	transition: 0.5s;
	text-decoration: none;
}

#startBrowseButton:hover {
	border-radius: 25px;
	transition: 0.5s;
}

#windowControls {
	position: fixed;
	right: 0;
	top: 0;
	z-index: 100;
	padding: 10px;
}